*{
  width: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  max-height: 100vh;
  
 

}


:root {
  --bg: #00FFCF; /* bright green, website background */
  --pg: #E5FFF9; /* pale green, quite white-ish button background */
}

body {
  overflow-x: hidden;
  float: left;
  background-color: #e8fd00;
  max-width: 100vw;
}










  












.animation{
  
height: 100vh;
background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
position: relative;
overflow: hidden;
width: 100%;

font-size: 50px;
justify-content: center;
align-items: center;
display: flex;
font-family: 'Montserra';
color: rgb(255, 0, 0);
}

.kontakts{

width: 20%;
height: auto;

position: absolute;
top: 50%;
left: 0%;


}

.products,.shipping,.statistic,.contacts{

  height: 100vh;
  display: flex;
  font-size: 50px;
  justify-content: center;
  align-items: center;
  font-family: 'Montserra';
  color: white;

}

.products{
  
  background-image: linear-gradient(60deg, #fa84e6 50%, #f48fe7 50%);
}
.shipping{
  background-image: linear-gradient(120deg, #9084fa 50%, #8fd3f4 50%);
}
.statistic{
  background-image: linear-gradient(60deg, #fa848e 50%, #ee11ee 50%);
}
.contacts{
  background-image: linear-gradient(120deg, #ffc400 50%, #1ba5eb 50%);
 
}


