*{
 
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
 
  
 

}


:root {
  --bg: #00FFCF; /* bright green, website background */
  --pg: #E5FFF9; /* pale green, quite white-ish button background */
}

body {
  overflow-x: hidden;
  background-color: #00FFCF;

}


nav{

  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  

}








  













