*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

:root {
  --bg: #00FFCF; /* bright green, website background */
  --db: #00d8b0;
  --pg: #E5FFF9; /* pale green, quite white-ish button background */
  --tx: #000000; /* text colour */
}

body {
  background-color: var(--bg);
  overflow-x: hidden;
}

.resize-animation-stopper nav .nav-links {
  transition: none !important;
}

.logo img {
  width: 122px;
  height: 60px;
}

h1{
  font-weight: 800;
  font-size: 54px;  
}

h2{
  font-weight: 600;
  font-size: 24px;
}


.banner {

position: relative;

}
.banner img{


position: absolute;
margin-top: 100px;
z-index: -1;



}

img#banner1 {
  content:url(img/webp/baselayer.webp);
 
}
img#banner2 {
  content:url(img/webp/layerfade1.webp);
  
}
img#banner3 {
  content:url(img/webp/bubbles.webp);
}

a.button button {
  background-color: var(--pg);
  height: 50px;
  margin-top: 10px;
  border-width: 0;
  border-radius: 25px;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 24px;
  outline: none;
}

a.button button:hover {
  cursor: pointer;
  outline: none;
  color: rgb(255, 255, 255);
  background-color: #42c73e;
  transition:  0.5s ease;
  
}

a.button button:active {
  background-color: #3bac37;
  color: #ffffff;
  font-size: 20px;
  width: 200px;
  transition: none;
  margin-top: 14px;
  height: 44px;
  
}

div.content{
  width:60vw;
  margin-left:20vw;
  margin-right:20vw;
}

div.navigation {
  width: 100vw;
  height: 78px;
  position: fixed;
  top: 0;
  
}

nav{
  background-color: var(--bg);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 78px;
  position: -webkit-sticky;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links li{
  list-style: none;
}

.nav-links a{
  color: var(--tx);
  text-decoration: none;
  font-weight: 800;
  font-size: 22px;
}



.burger{
  display: none;
  cursor: pointer;
}

.burger div {
  width: 30px;
  height: 4px;
  background-color: var(--tx);
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width:1160px){
  div.content{
    width:80vw;
    margin-left:10vw;
    margin-right:10vw;
  }
  .nav-links{
    width: 60%;
  }
}

@media screen and (max-width:860px){
  body{
    overflow-x: hidden;
  }
  .nav-links{
    position: absolute;
    right: 0px;
    height: calc(100vh - 78px);
    top: 78px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    background-color: var(--db);
  }
  .nav-links li{
    opacity: 0;
  }

  .burger{
    display: block;
  }
}

@media screen and (max-width:660px){
  a.button button{
    margin-bottom: 15px;
  }
  img#banner{
    content:url(img/webp/smallbanner.webp);
  }
}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
  transform:  rotate(-45deg) translate(-5px,8px);
}

.toggle .line2{
  opacity: 0;
}

.toggle .line3{
  transform:  rotate(45deg) translate(-5px,-8px);
}